## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

2023-09-13 09:49:41.296515: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
clean_application_df = application_df.drop(columns=["EIN", "NAME"])
clean_application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column.
clean_application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
appCounts = clean_application_df["APPLICATION_TYPE"].value_counts()
appCounts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`

application_types_to_replace = list(appCounts[appCounts<500].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
classCounts = clean_application_df["CLASSIFICATION"].value_counts()
classCounts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classCounts1 = classCounts[classCounts>1]
classCounts1

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(classCounts[classCounts<1000].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
numeric_application_df = pd.get_dummies(clean_application_df)
numeric_application_df

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34295,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34296,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34297,1,5000,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34298,1,36500179,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [10]:
# Split our preprocessed data into our features and target arrays
y = numeric_application_df["IS_SUCCESSFUL"].values
X = numeric_application_df.drop(columns="IS_SUCCESSFUL").values

# Split the preprocessed data into a training and testing dataset
X_train,X_test,y_train,y_test = train_test_split(X,y)

In [11]:
y[:5]

array([1, 1, 0, 1, 1])

In [12]:
X[:5]

array([[     1,   5000,      1,      0,      0,      0,      0,      0,
             0,      0,      0,      0,      0,      0,      0,      0,
             0,      0,      0,      0,      0,      1,      0,      0,
             0,      0,      1,      0,      0,      0,      0,      0,
             0,      0,      0,      0,      0,      0,      0,      0,
             0,      0,      0,      0,      0,      0,      0,      0,
             0,      0,      0,      0,      0,      0,      0,      0,
             0,      0,      0,      0,      0,      0,      0,      0,
             0,      0,      0,      0,      0,      0,      0,      0,
             0,      0,      0,      0,      0,      0,      0,      0,
             0,      0,      0,      0,      0,      0,      0,      0,
             0,      0,      0,      0,      0,      0,      0,      0,
             0,      0,      0,      0,      1,      1,      0,      0,
             0,      1,      0,      0,      0,      0,      0,      0,
             0,      0,      1,      0],
       [     1, 108590,      0,      0,      0,      0,      0,      0,
             0,      0,      0,      0,      1,      0,      0,      0,
             0,      0,      0,      0,      0,      1,      0,      0,
             0,      0,      0,      0,      0,      0,      0,      0,
             0,      0,      0,      0,      0,      0,      0,      0,
             0,      0,      0,      0,      0,      0,      0,      0,
             0,      0,      0,      0,      0,      0,      0,      0,
             0,      0,      0,      0,      0,      1,      0,      0,
             0,      0,      0,      0,      0,      0,      0,      0,
             0,      0,      0,      0,      0,      0,      0,      0,
             0,      0,      0,      0,      0,      0,      0,      0,
             0,      0,      0,      0,      0,      0,      0,      0,
             0,      0,      0,      1,      0,      0,      1,      0,
             0,      0,      1,      0,      0,      0,      0,      0,
             0,      0,      1,      0],
       [     1,   5000,      0,      0,      0,      0,      0,      0,
             0,      0,      0,      0,      0,      0,      1,      0,
             0,      0,      0,      1,      0,      0,      0,      0,
             0,      0,      0,      0,      0,      0,      0,      0,
             0,      0,      0,      0,      0,      0,      0,      0,
             0,      0,      0,      0,      0,      0,      0,      0,
             0,      0,      0,      0,      0,      0,      0,      0,
             0,      0,      0,      0,      0,      0,      0,      0,
             0,      0,      0,      0,      0,      0,      0,      0,
             0,      0,      0,      0,      1,      0,      0,      0,
             0,      0,      0,      0,      0,      0,      0,      0,
             0,      0,      0,      0,      0,      0,      0,      0,
             0,      0,      0,      0,      1,      1,      0,      0,
             0,      1,      0,      0,      0,      0,      0,      0,
             0,      0,      1,      0],
       [     1,   6692,      0,      0,      0,      0,      0,      0,
             0,      0,      0,      0,      1,      0,      0,      0,
             0,      0,      0,      1,      0,      0,      0,      0,
             0,      0,      0,      0,      0,      0,      0,      0,
             0,      0,      0,      0,      0,      0,      0,      0,
             0,      0,      0,      0,      0,      0,      0,      0,
             0,      0,      0,      0,      0,      0,      0,      0,
             0,      0,      0,      0,      0,      1,      0,      0,
             0,      0,      0,      0,      0,      0,      0,      0,
             0,      0,      0,      0,      0,      0,      0,      0,
             0,      0,      0,      0,      0,      0,      0,      0,
             0,      0,      0,      0,      0,      0,      0,      0,
             0,      0,      0,      1,      0,      0,      0,      0,
             1,      0,      0,      1,      0,      0,      0,      0,
             0,      0,      1,      0],
       [     1, 142590,      0,      0,      0,      0,      0,      0,
             0,      0,      0,      0,      1,      0,      0,      0,
             0,      0,      0,      0,      0,      1,      0,      0,
             0,      0,      1,      0,      0,      0,      0,      0,
             0,      0,      0,      0,      0,      0,      0,      0,
             0,      0,      0,      0,      0,      0,      0,      0,
             0,      0,      0,      0,      0,      0,      0,      0,
             0,      0,      0,      0,      0,      0,      0,      0,
             0,      0,      0,      0,      0,      0,      0,      0,
             0,      0,      0,      0,      0,      0,      0,      0,
             0,      0,      0,      0,      0,      0,      0,      0,
             0,      0,      0,      0,      0,      0,      0,      0,
             0,      1,      0,      0,      0,      0,      0,      0,
             1,      0,      0,      0,      1,      0,      0,      0,
             0,      0,      1,      0]])

In [13]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [14]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
n_input_features = len(X_train[0])


nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(input_dim=n_input_features,units=80,activation='relu'))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=30,activation='relu'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1,activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 80)                9360

 dense_1 (Dense)             (None, 30)                2430

 dense_2 (Dense)             (None, 1)                 31

=================================================================
Total params: 11821 (46.18 KB)
Trainable params: 11821 (46.18 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [15]:
# Compile the model
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [16]:
# Train the model
fit_model=nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
804/804 [==============================] - 1s 812us/step - loss: 0.5740 - accuracy: 0.7223
Epoch 2/100
804/804 [==============================] - 1s 980us/step - loss: 0.5523 - accuracy: 0.7308
Epoch 3/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5486 - accuracy: 0.7320
Epoch 4/100
804/804 [==============================] - 1s 972us/step - loss: 0.5457 - accuracy: 0.7339
Epoch 5/100
804/804 [==============================] - 1s 810us/step - loss: 0.5441 - accuracy: 0.7336
Epoch 6/100
804/804 [==============================] - 1s 805us/step - loss: 0.5432 - accuracy: 0.7346
Epoch 7/100
804/804 [==============================] - 1s 804us/step - loss: 0.5422 - accuracy: 0.7361
Epoch 8/100
804/804 [==============================] - 1s 793us/step - loss: 0.5412 - accuracy: 0.7342
Epoch 9/100
804/804 [==============================] - 1s 789us/step - loss: 0.5410 - accuracy: 0.7360
Epoch 10/100
804/804 [==============================] - 1s 779us/step - loss: 0.5397 - accuracy: 0.7367
Epoch 11/100
804/804 [==============================] - 1s 789us/step - loss: 0.5399 - accuracy: 0.7358
Epoch 12/100
804/804 [==============================] - 1s 797us/step - loss: 0.5390 - accuracy: 0.7371
Epoch 13/100
804/804 [==============================] - 1s 784us/step - loss: 0.5380 - accuracy: 0.7385
Epoch 14/100
804/804 [==============================] - 1s 762us/step - loss: 0.5380 - accuracy: 0.7377
Epoch 15/100
804/804 [==============================] - 1s 728us/step - loss: 0.5379 - accuracy: 0.7374
Epoch 16/100
804/804 [==============================] - 1s 728us/step - loss: 0.5370 - accuracy: 0.7388
Epoch 17/100
804/804 [==============================] - 1s 732us/step - loss: 0.5369 - accuracy: 0.7371
Epoch 18/100
804/804 [==============================] - 1s 769us/step - loss: 0.5369 - accuracy: 0.7381
Epoch 19/100
804/804 [==============================] - 1s 789us/step - loss: 0.5363 - accuracy: 0.7384
Epoch 20/100
804/804 [==============================] - 1s 779us/step - loss: 0.5363 - accuracy: 0.7373
Epoch 21/100
804/804 [==============================] - 1s 776us/step - loss: 0.5357 - accuracy: 0.7384
Epoch 22/100
804/804 [==============================] - 1s 764us/step - loss: 0.5356 - accuracy: 0.7390
Epoch 23/100
804/804 [==============================] - 1s 801us/step - loss: 0.5353 - accuracy: 0.7378
Epoch 24/100
804/804 [==============================] - 1s 771us/step - loss: 0.5346 - accuracy: 0.7396
Epoch 25/100
804/804 [==============================] - 1s 786us/step - loss: 0.5345 - accuracy: 0.7397
Epoch 26/100
804/804 [==============================] - 1s 755us/step - loss: 0.5347 - accuracy: 0.7401
Epoch 27/100
804/804 [==============================] - 1s 762us/step - loss: 0.5342 - accuracy: 0.7393
Epoch 28/100
804/804 [==============================] - 1s 736us/step - loss: 0.5338 - accuracy: 0.7393
Epoch 29/100
804/804 [==============================] - 1s 738us/step - loss: 0.5337 - accuracy: 0.7398
Epoch 30/100
804/804 [==============================] - 1s 727us/step - loss: 0.5334 - accuracy: 0.7392
Epoch 31/100
804/804 [==============================] - 1s 729us/step - loss: 0.5332 - accuracy: 0.7403
Epoch 32/100
804/804 [==============================] - 1s 724us/step - loss: 0.5333 - accuracy: 0.7393
Epoch 33/100
804/804 [==============================] - 1s 727us/step - loss: 0.5325 - accuracy: 0.7406
Epoch 34/100
804/804 [==============================] - 1s 732us/step - loss: 0.5322 - accuracy: 0.7410
Epoch 35/100
804/804 [==============================] - 1s 725us/step - loss: 0.5321 - accuracy: 0.7409
Epoch 36/100
804/804 [==============================] - 1s 728us/step - loss: 0.5318 - accuracy: 0.7415
Epoch 37/100
804/804 [==============================] - 1s 743us/step - loss: 0.5321 - accuracy: 0.7412
Epoch 38/100
804/804 [==============================] - 1s 745us/step - loss: 0.5318 - accuracy: 0.7410
Epoch 39/100
804/804 [==============================] - 1s 830us/step - loss: 0.5314 - accuracy: 0.7406
Epoch 40/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5312 - accuracy: 0.7414
Epoch 41/100
804/804 [==============================] - 1s 781us/step - loss: 0.5317 - accuracy: 0.7411
Epoch 42/100
804/804 [==============================] - 1s 772us/step - loss: 0.5308 - accuracy: 0.7418
Epoch 43/100
804/804 [==============================] - 1s 775us/step - loss: 0.5309 - accuracy: 0.7421
Epoch 44/100
804/804 [==============================] - 1s 743us/step - loss: 0.5307 - accuracy: 0.7416
Epoch 45/100
804/804 [==============================] - 1s 780us/step - loss: 0.5301 - accuracy: 0.7417
Epoch 46/100
804/804 [==============================] - 1s 743us/step - loss: 0.5302 - accuracy: 0.7420
Epoch 47/100
804/804 [==============================] - 1s 737us/step - loss: 0.5302 - accuracy: 0.7413
Epoch 48/100
804/804 [==============================] - 1s 731us/step - loss: 0.5302 - accuracy: 0.7423
Epoch 49/100
804/804 [==============================] - 1s 737us/step - loss: 0.5298 - accuracy: 0.7419
Epoch 50/100
804/804 [==============================] - 1s 743us/step - loss: 0.5300 - accuracy: 0.7427
Epoch 51/100
804/804 [==============================] - 1s 742us/step - loss: 0.5294 - accuracy: 0.7428
Epoch 52/100
804/804 [==============================] - 1s 760us/step - loss: 0.5298 - accuracy: 0.7420
Epoch 53/100
804/804 [==============================] - 1s 773us/step - loss: 0.5292 - accuracy: 0.7427
Epoch 54/100
804/804 [==============================] - 1s 794us/step - loss: 0.5292 - accuracy: 0.7423
Epoch 55/100
804/804 [==============================] - 1s 813us/step - loss: 0.5295 - accuracy: 0.7422
Epoch 56/100
804/804 [==============================] - 1s 794us/step - loss: 0.5287 - accuracy: 0.7438
Epoch 57/100
804/804 [==============================] - 1s 765us/step - loss: 0.5287 - accuracy: 0.7438
Epoch 58/100
804/804 [==============================] - 1s 770us/step - loss: 0.5289 - accuracy: 0.7432
Epoch 59/100
804/804 [==============================] - 1s 805us/step - loss: 0.5290 - accuracy: 0.7428
Epoch 60/100
804/804 [==============================] - 1s 890us/step - loss: 0.5284 - accuracy: 0.7425
Epoch 61/100
804/804 [==============================] - 1s 735us/step - loss: 0.5286 - accuracy: 0.7436
Epoch 62/100
804/804 [==============================] - 1s 754us/step - loss: 0.5290 - accuracy: 0.7429
Epoch 63/100
804/804 [==============================] - 1s 726us/step - loss: 0.5286 - accuracy: 0.7419
Epoch 64/100
804/804 [==============================] - 1s 740us/step - loss: 0.5285 - accuracy: 0.7419
Epoch 65/100
804/804 [==============================] - 1s 734us/step - loss: 0.5280 - accuracy: 0.7433
Epoch 66/100
804/804 [==============================] - 1s 751us/step - loss: 0.5278 - accuracy: 0.7432
Epoch 67/100
804/804 [==============================] - 1s 770us/step - loss: 0.5279 - accuracy: 0.7435
Epoch 68/100
804/804 [==============================] - 1s 764us/step - loss: 0.5278 - accuracy: 0.7431
Epoch 69/100
804/804 [==============================] - 1s 814us/step - loss: 0.5278 - accuracy: 0.7435
Epoch 70/100
804/804 [==============================] - 1s 848us/step - loss: 0.5275 - accuracy: 0.7432
Epoch 71/100
804/804 [==============================] - 1s 853us/step - loss: 0.5280 - accuracy: 0.7433
Epoch 72/100
804/804 [==============================] - 1s 918us/step - loss: 0.5274 - accuracy: 0.7428
Epoch 73/100
804/804 [==============================] - 1s 986us/step - loss: 0.5279 - accuracy: 0.7432
Epoch 74/100
804/804 [==============================] - 1s 966us/step - loss: 0.5279 - accuracy: 0.7433
Epoch 75/100
804/804 [==============================] - 1s 889us/step - loss: 0.5275 - accuracy: 0.7437
Epoch 76/100
804/804 [==============================] - 1s 867us/step - loss: 0.5273 - accuracy: 0.7431
Epoch 77/100
804/804 [==============================] - 1s 902us/step - loss: 0.5276 - accuracy: 0.7430
Epoch 78/100
804/804 [==============================] - 1s 866us/step - loss: 0.5277 - accuracy: 0.7437
Epoch 79/100

804/804 [==============================] - 1s 855us/step - loss: 0.5270 - accuracy: 0.7434
Epoch 80/100
804/804 [==============================] - 1s 829us/step - loss: 0.5272 - accuracy: 0.7433
Epoch 81/100
804/804 [==============================] - 1s 838us/step - loss: 0.5265 - accuracy: 0.7441
Epoch 82/100
804/804 [==============================] - 1s 875us/step - loss: 0.5274 - accuracy: 0.7428
Epoch 83/100
804/804 [==============================] - 1s 876us/step - loss: 0.5269 - accuracy: 0.7429
Epoch 84/100
804/804 [==============================] - 1s 901us/step - loss: 0.5272 - accuracy: 0.7424
Epoch 85/100
804/804 [==============================] - 1s 859us/step - loss: 0.5264 - accuracy: 0.7446
Epoch 86/100
804/804 [==============================] - 1s 866us/step - loss: 0.5266 - accuracy: 0.7430
Epoch 87/100
804/804 [==============================] - 1s 849us/step - loss: 0.5264 - accuracy: 0.7436
Epoch 88/100
804/804 [==============================] - 1s 838us/step - loss: 0.5269 - accuracy: 0.7433
Epoch 89/100
804/804 [==============================] - 1s 869us/step - loss: 0.5261 - accuracy: 0.7441
Epoch 90/100
804/804 [==============================] - 1s 742us/step - loss: 0.5261 - accuracy: 0.7439
Epoch 91/100
804/804 [==============================] - 1s 729us/step - loss: 0.5266 - accuracy: 0.7441
Epoch 92/100
804/804 [==============================] - 1s 743us/step - loss: 0.5261 - accuracy: 0.7438
Epoch 93/100
804/804 [==============================] - 1s 847us/step - loss: 0.5266 - accuracy: 0.7432
Epoch 94/100
804/804 [==============================] - 1s 781us/step - loss: 0.5263 - accuracy: 0.7438
Epoch 95/100
804/804 [==============================] - 1s 781us/step - loss: 0.5259 - accuracy: 0.7435
Epoch 96/100
804/804 [==============================] - 1s 757us/step - loss: 0.5264 - accuracy: 0.7430
Epoch 97/100
804/804 [==============================] - 1s 751us/step - loss: 0.5261 - accuracy: 0.7440
Epoch 98/100
804/804 [==============================] - 1s 800us/step - loss: 0.5261 - accuracy: 0.7440
Epoch 99/100
804/804 [==============================] - 1s 781us/step - loss: 0.5263 - accuracy: 0.7437
Epoch 100/100
804/804 [==============================] - 1s 825us/step - loss: 0.5257 - accuracy: 0.7436

In [17]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5734 - accuracy: 0.7265 - 257ms/epoch - 959us/step
Loss: 0.5733584761619568, Accuracy: 0.7265306115150452

In [18]:
#from tensorflow.keras.models import load_model, save_model

In [19]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity.h5")

/Users/ericoppong-kyekyeku/anaconda3/lib/python3.10/site-packages/keras/src/engine/training.py:3000: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

In [20]:
# Export our model to HDF5 file
#save_model(nn,"AlphabetSoupCharity.h5")